
.prevent-event {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover, &:active, &:visited {
    color: inherit;
  }

}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

%border-left-radius-custom {
  border-top-left-radius: 5px;
}
